{%extends 'chmapp/index.html'%}
{%block index_child%}
<table border="2">
    <tr>
        <th>云机</th>
        <th>状态</th>
        <th>IP</th>
        <th>操作</th>
    </tr>
    {%for host in hostList%}
    <tr>
        <th>{{host.hname}}</th>
        <th>{{host.hstatus}}</th>
        <th>{{host.haddr}}</th>
        <th>
            <form style="display: inline" action="{%url 'chmapp:open'%}" method="post">
                <input type="hidden" name="hostname" value="{{host.hname}}">
                <input type="submit" name="submit" value="开启">
            </form>
            <form style="display: inline" action="{%url 'chmapp:shutdown'%}" method="post">
                <input type="hidden" name="hostname" value="{{host.hname}}">
                <input type="submit" name="submit" value="关机">
            </form>
            <form style="display: inline" action="{%url 'chmapp:shutoff'%}" method="post">
                <input type="hidden" name="hostname" value="{{host.hname}}">
                <input type="submit" name="submit" value="断电">
            </form>
            <form style="display: inline" action="{%url 'chmapp:remove'%}" method="post">
                <input type="hidden" name="hostname" value="{{host.hname}}">
                <input type="submit" name="submit" value="删除">
            </form>
        </th>
    </tr>
    {%endfor%}
</table>
<form action="{%url 'chmapp:vmadd'%}" method="post">
    <input type="submit" name="vmadd" value="添加">
</form>
{%endblock%}