{%extends 'chmapp/index.html'%}
{%block index_child%}

<div class="row">
<div class="col-md-12">
    <div class="panel-heading">
    云主机列表
    </div>
<div class="panel-body">
    <div class="alert alert-success">
        <strong>{{info}}</strong>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>云机</th>
                    <th>状态</th>
                    <th>IP</th>
                    <th>端口</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {%for host in hostList%}
                <tr class="odd gradeX">
                    <td>{{host.hname}}</td>
                    <td>{{host.hstatus}}</td>
                    <td>{{host.haddr}}</td>
                    <td>{{host.hport}}</td>
                    <td class="center">
                        <form style="display: inline" action="{%url 'chmapp:open'%}" method="post">
                            <input type="hidden" name="hostname" value="{{host.hname}}">
                            <button type="submit" class="btn btn-primary">开启</button>
                        </form>
                        <form style="display: inline" action="{%url 'chmapp:shutdown'%}" method="post">
                            <input type="hidden" name="hostname" value="{{host.hname}}">
                            <button type="submit" class="btn btn-primary">关机</button>
                        </form>
                        <form style="display: inline" action="{%url 'chmapp:shutoff'%}" method="post">
                            <input type="hidden" name="hostname" value="{{host.hname}}">
                            <button type="submit" class="btn btn-primary">断电</button>
                        </form>
                        <form style="display: inline" action="{%url 'chmapp:remove'%}" method="post">
                            <input type="hidden" name="hostname" value="{{host.hname}}">
                            <button type="submit" class="btn btn-primary">删除</button>
                        </form>
                        <form style="display: inline" action="{%url 'chmapp:connect'%}" method="post">
                            <input type="hidden" name="hostname" value="{{host.hname}}">
                            <button type="submit" class="btn btn-primary">连接</button>
                        </form>
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <div class="form-group">
            <form action="{%url 'chmapp:vmadd'%}" method="post">
                <button type="submit" class="btn btn-primary">添加</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>
{%endblock%}