{%extends 'chmapp/index.html'%}
{%block index_child%}
<div class="row">
<div class="col-md-12">
<div class="panel-heading">
     镜像列表
</div>
<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
                <tr>
                    <th>镜像</th>
                    <th>路径</th>
                    {%ifequal username 'admin'%}
                    <th>操作</th>
                    {%endifequal%}
                </tr>
            </thead>
            <tbody>
                {%for image in imageList%}
                <tr class="odd gradeX">
                    <td>{{image.iname}}</td>
                    <td>{{image.iaddr}}</td>
                    {%ifequal username 'admin'%}
                    <td class="center">
                        <form style="display: inline" action="{%url 'chmapp:imagedel'%}" method="post">
                            <input type="hidden" name="imgname" value="{{image.iname}}">
                            <button type="submit" class="btn btn-primary">删除</button>
                        </form>
                    </td>
                    {%endifequal%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%ifequal username "admin"%}
        <div class="form-group">
            <form action="{%url 'chmapp:imageadd'%}" method="post">
                <button type="submit" class="btn btn-primary">添加</button>
            </form>
        </div>
        {%endifequal%}
    </div>
</div>
</div>
</div>
{%endblock%}