{%extends 'chmapp/index.html'%}
{%block index_child%}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                添加新模版
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <form role="form" action="{%url 'chmapp:tempsave'%}" method="post">
                            <div class="form-group">
                                <label>模版名</label>
                                <input class="form-control" name="tempname" placeholder="例如: centos7">
                            </div>
                            <div class="form-group">
                                <label>CPU核数</label>
                                <input class="form-control" name="cpus" placeholder="1-4核">
                            </div>
                            <div class="form-group">
                                <label>内存(单位:M)</label>
                                <input class="form-control" name="memory" placeholder="最大内存：4096">
                            </div>
                            <div class="form-group">
                                <label>选择镜像</label>
                                <select class="form-control" name="imageSelect">
                                    {%for image in imageList%}
                                    <option value="{{image.iname}}">{{image.iname}}</option>
                                    {%endfor%}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">保存</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}